<div class="row">
  <h1>Stop<span class="pull-right"><i ng-click="stopFormCtrl.backToList()" class="material-icons md-48">chevron_left</i></span></h1>
    <form name="" class="form-horizontal">      
      <div class="col-lg-6 form-group label-floating"> 
        <label class="control-label" for="focusedDepartureCity">Departure City:</label>
        <input type="text" class="form-control" id="focusedDepartureCity" name="departureCity" ng-model="stop.departureCity">
      </div>
      <div class="col-lg-6 form-group label-floating"> 
        <label class="control-label" for="focuseArrivalCity">Arrival City:</label>
        <input type="text" class="form-control" id="focuseArrivalCity" name="arrivalCity" ng-model="stop.arrivalCity">
      </div>
      <div class="col-lg-6 form-group label-floating"> 
        <label class="control-label" for="focuseDate">Departure Date:</label>
        <input type="text" class="form-control date" id="focuseDate" name="departureDate" ng-model="stop.departureDate">
      </div>
      <div class="col-lg-6 checkbox form-group"> 
        <label class="control-label">     
          <input type="checkbox" name="visitinClassifiedSites" ng-model="stop.visitingClassifiedSites">
          <span>Visiting Classified Sites</span>
        </label>
      </div>
    </form>
  <div class="clearfix"></div>  
  <div ng-show="stop.visitingClassifiedSites && stopIndex >= 0">  
    <h2>Sites
      <button class="btn btn-raised btn-primary pull-right" ng-click="stopFormCtrl.redirectToSiteForm()">
        <span class= "glyphicon glyphicon-plus"></span>
        <span>New Site</span>
      </button>
     </h2>
    <table class="table table-striped col-lg-12">
      <tr>
        <th>#</th>
        <th>Agency/Facility</th>
        <th>Visit to</th>
        <th>Sponsor</th>   
        <th>Purpose of Visit</th>
        <th class="text-center">Actions</th>
      </tr>
      <tr ng-repeat="site in stop.sites">
        <td>{{$index + 1}}
        <td>{{site.agencyFacility.name}}</td>
        <td>{{site.visitTo}}</td>
        <td>{{site.sponsor.name}}</td>
        <td>{{site.purpose.subject}}</td>
        <td class="col-lg-3 text-center">
          <div class="btn-group" role="group">         
            <button type="button" class="btn btn-primary" ng-click="stopFormCtrl.redirectToSiteForm($index)">
              <span class="glyphicon glyphicon-pencil"></span>
              <span>Edit</span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="stopFormCtrl.deleteSite($index)">
              <span class="glyphicon glyphicon-trash"></span>
              <span>Delete</span>
            </button>
          </div>
        </td>
      </tr>         
    </table>
  </div>
  <button type="submit" class="pull-right btn btn-raised btn-primary" ng-click="stopFormCtrl.saveStop()" data-content="Stop Saved!" data-toggle="snackbar" data-timeout="3000">
    <span class="glyphicon glyphicon-save"></span>
    <span>Save</span>
  </button>
</div>