<div class="row">
  <h1>Site<span class="pull-right"><i ng-click="siteFormCtrl.backToList()" class="material-icons md-48">chevron_left</i></span></h1>
  <form name="" class="form-horizontal">
    <fieldset>
      <legend>Date</legend>
      <div class="col-lg-6 form-group label-floating"> 
        <label class="control-label" for="focuseDateFrom">Date From:</label>
        <input type="text" class="form-control date" id="focuseDateFrom" name="dateFrom" ng-model="site.dateFrom">
      </div>
      <div class="col-lg-6 form-group label-floating"> 
        <label class="control-label" for="focuseDateTo">Date To:</label>
        <input type="text" class="form-control date" id="focuseDateTo" name="dateTo" ng-model="site.dateTo">
      </div>
    </fieldset>
    <fieldset>
      <legend>Visit Type</legend>
      <div class="col-lg-6 form-group label-floating"> 
        <label class="control-label" for="focusLength">Length of Visit</label>
        <select ng-options="lengthofVisit.name for lengthofVisit in lengthOfVisitOptions" class="form-control" id="focusLength" name="dateFrom" ng-model="site.lengthOfVisit"></select>
      </div>
      <div class="col-lg-6 form-group label-floating"> 
        <label class="control-label" for="focus">Request Type</label>
        <select ng-options="requestType.name for requestType in requestTypeOptions" class="form-control" id="focus" name="dateTo" ng-model="site.requestType"></select>
      </div>    
    </fieldset>
    <fieldset>
      <legend>Request Facility or Visitor co-ordinator</legend>
      <div class="col-lg-12 form-group label-floating"> 
        <label class="control-label" for="focusVisitorCoordName">Name:</label>
        <input type="text" class="form-control date" id="focusVisitorCoordName" name="visitorCoord_name" ng-model="site.visitorCoord.name">
      </div>
      <div class="col-lg-6 form-group label-floating"> 
        <label class="control-label" for="focusVisitorCoordPhone">Phone:</label>
        <input type="text" class="form-control" id="focusVisitorCoordPhone" name="visitorCoord_phone" ng-model="site.visitorCoord.phone">
      </div>
      <div class="col-lg-6 form-group label-floating"> 
        <label class="control-label" for="focusVisitorCoordFax">Fax:</label>
        <input type="text" class="form-control" id="focusVisitorCoordFax" name="visitorCoord_fax" ng-model="site.visitorCoord.fax">
      </div>
      <div class="col-lg-6 form-group label-floating"> 
        <label class="control-label" for="focusVisitorCoordEmail">Email:</label>
        <input type="text" class="form-control" id="focusVisitorCoordEmail" name="visitorCoord_email" ng-model="site.visitorCoord.email">
      </div>
       <div class="col-lg-6 form-group label-floating"> 
        <label class="control-label" for="focusVisitorCoordAddress">Address:</label>
        <input type="text" class="form-control" id="focusVisitorCoordAddress" name="visitorCoord_address" ng-model="site.visitorCoord.address">
      </div>     
    </fieldset>>
    <div class="col-lg-6 form-group label-floating"> 
      <label class="control-label" for="focuseDate">Departure Date:</label>
      <input type="text" class="form-control date" id="focuseDate" name="departureDate" ng-model="stop.departureDate">
    </div>
    <div class="col-lg-6 form-group label-floating"> 
      <label class="control-label" for="focusedDepartureCity">Departure City:</label>
      <input type="text" class="form-control" id="focusedDepartureCity" name="departureCity" ng-model="stop.departureCity">
    </div>
    <div class="col-lg-6 form-group label-floating"> 
      <label class="control-label" for="focuseArrivalCity">Arrival City:</label>
      <input type="text" class="form-control" id="focuseArrivalCity" name="arrivalCity" ng-model="stop.arrivalCity">
    </div>
    <div class="col-lg-6 form-group label-floating"> 
      <label class="control-label" for="focusedVisitingClassifiedSites">Visiting Classified Sites:</label>
      <input type="checkbox" class="form-control" id="focusedVisitingClassifiedSites" name="visitinClassifiedSites" ng-model="stop.visitinClassifiedSites">
    </div>
  </form>
</div>