<div class="row">
  <h1><span>Itinerary</span>
  <span ng-show="itinerary.name">[{{itinerary.name}}]</span>
  <span class="pull-right"><i ng-click="itineraryFormCtrl.backToList()" class="material-icons md-48">chevron_left</i></span></h1>
  <form name="" class="form-horizontal">
    <div class="form-group label-floating"> 
      <label class="control-label" for="focusedName">Name:</label>
      <input type="text" class="form-control" id="focusedName" name="name" ng-model="itinerary.name">
    </div>
  </form>
  <div ng-show="itineraryIndex >= 0"> 
    <h2>
      <span>Stops</span>
      <button class="btn btn-raised btn-primary pull-right" ng-click="itineraryFormCtrl.redirectToStopForm()">
        <span class="glyphicon glyphicon-plus"></span>
        <span>New Stop</span>
      </button>
    </h2>
    <table class="table table-striped col-lg-12 table-flex">
      <tr>
        <th>#</th>
        <th>Departure Date</th>
        <th>Departure City</th>
        <th>Arrival City</th>   
        <th>Visting Classified Sites</th>
        <th>Total Sites</th>
        <th class="text-center">Actions</th>
      </tr>
      <tr ng-repeat="stop in itinerary.stops">
        <td>{{$index + 1}}</td>
        <td>{{stop.departureDate}}</td>
        <td>{{stop.departureCity}}</td>
        <td>{{stop.arrivalCity}}</td>
        <td>{{stop.visitingClassifiedSites ? 'Yes' : 'No'}}</td>
        <td>{{stop.sites.length}}</td>
        <td class="col-lg-3 text-center">
          <div class="btn-group" role="group">         
            <button type="button" class="btn btn-primary" ng-click="itineraryFormCtrl.redirectToStopForm($index)">
              <span class="glyphicon glyphicon-pencil"></span>
              <span>Edit</span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="itineraryFormCtrl.deleteStop($index)">
              <span class="glyphicon glyphicon-trash"></span>
              <span>Delete</span>
            </button>
          </div>
        </td>
      </tr>         
    </table>
  </div>
  <button type="submit" ng-show="showComplete" class="pull-right btn btn-raised btn-primary" ng-click="itineraryFormCtrl.complete()" data-toggle="modal" data-target="#complete-dialog">
    <span class="glyphicon glyphicon-ok"></span>
    <span>Complete</span>
    <div class="ripple-container"></div>
  </button>  
  <button type="submit" class="pull-right btn btn-raised btn-primary" ng-click="itineraryFormCtrl.saveItenarary()" data-content="Itinerary Saved!" data-toggle="snackbar" data-timeout="3000">
    <span class="glyphicon glyphicon-save"></span>
    <span>Save</span>
  </button>
  
  <complete-dialogue></complete-dialogue>
</div>