<div class="row">
  <h1>ITINERARY<span class="pull-right"><i ng-click="itineraryFormCtrl.backToList()" class="material-icons md-48">chevron_left</i></span></h1>
  <form name="" class="form-horizontal">
    <div class="form-group label-floating"> 
      <label class="control-label" for="focusedName">Name:</label>
      <input type="text" class="form-control" id="focusedName" name="name" ng-model="itinerary.name">
    </div>
  </form>
  <div>
    <h2>Summary
      <span class="small">
          <span>Total Stops <span class="badge badge-info">{{itinerary.metaData.totalStops}}</span></span>
          <span>Total Sites <span class="badge">{{itinerary.metaData.totalSites}}</span></span>
          <span>Total Duration <span class="badge">{{itinerary.metaData.duration}}</span></span>
      </span>
    </h2>

  <div>  
    <h2>
      Stops
      <button class="btn btn-raised btn-primary pull-right" ng-click="itineraryFormCtrl.redirectToStopForm()">
        <span class="glyphicon glyphicon-plus"></span>
        <span>New Stop</span>
      </button>
    </h2>
    <table class="table table-striped col-lg-12 table-flex">
      <tr>
        <th>#</th>
        <th>Departure Date</th>
        <th>Departure City</th>
        <th>Arrival City</th>   
        <th>Visting Classfied Sites</th>
        <th class="text-center">Actions</th>
      </tr>
      <tr ng-repeat="stop in itinerary.stops">
        <td>{{stop.stopIndex}}</td>
        <td>{{stop.departureDate}}</td>
        <td>{{stop.departureCity}}</td>
        <td>{{stop.arrivalCity}}</td>
        <td>{{stop.visitinClassifiedSites}}</td>
        <td class="col-lg-3 text-center">
          <div class="btn-group" role="group">         
            <button type="button" class="btn btn-primary" ng-click="itineraryFormCtrl.redirectToStopForm($index)">
              <span class="glyphicon glyphicon-pencil"></span>
              <span>Edit</span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="itineraryFormCtrl.deleteStop($index)">
              <span class="glyphicon glyphicon-trash"></span>
              <span>Delete</span>
            </button>
          </div>
        </td>
      </tr>         
    </table>
  </div>
</div>